<h1>Material App Example</h1>
<h2>Material Slider</h2>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<h2>Material Buttons Example</h2>
<div class="example-button-row">
    <button mat-raised-button>Basic</button>&nbsp;
    <button mat-raised-button color="primary">Primary</button>&nbsp;
    <button mat-raised-button color="accent">Accent</button>&nbsp;
    <button mat-raised-button color="warn">Warn</button>&nbsp;
    <button mat-raised-button disabled>Disabled</button>&nbsp;
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>